.contactos {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;


}
.contactos .titulo{
    display: flex;
    justify-content: center;
   text-align: center;
   width: 1100px;
}

.contactos .agregarnuevocontacto{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 3px;
}
.card {
    width: 300px;  
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
}

.info {
    flex: 1;
}

.info h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #333;
}

.info p {
    margin: 3px 0;
    font-size: 15px;
    color: #555;
    display: flex;
    align-items: center;

}

.icon {
    margin-right: 8px;
    font-size: 16px;
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.actions button {
   background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    opacity: 0.7;
}

.actions button:hover {
    opacity: 1;
}

.contactoeditar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 10px #333;
    margin: 10px;
    background-color: white;
    padding: 15px;
}

.contactoeditar input{
    width: 300px;
    margin: 2px;
    padding: 4px;
}

.agregarnuevocontacto{
    background-color: rgba(34, 220, 17, 0.886);
    margin: 10px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 39, 0.145);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal2{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 39, 0.145);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.modal input{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5px;
    margin: 3px;

}

.modal button{
    padding: 5px;
    margin: 2px;
    margin-top: 5px;
    
}